# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Ambiente
*.local
.env

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker volumes locais
rabbitmq_data/

# Banco local
*.db
*.db-wal
*.db-shm
